<div class="container">
  <div id="footer-widgets" class="clearfix">
    <div id="text-5" class="footer-widget widget_text">
      <h4 class="widgettitle">About Us</h4>
      <div class="textwidget">
        Maecenas ac nunc purus, et aliquam urna. Curabitur quis tellus vitae dolor tristique egestas.
        Fusce metus sem, accumsan vel auctor non, laoreet eget nulla. Donec lacinia elit ac nulla hendrerit
        at tincidunt justo facilisis. Praesent vel risus ut urna vestibulum fermentum. Pellentesque
        sollicitudin cursus blandit. In hac habitasse platea dictumst. Maecenas sed nulla sed lacus
        elementum dapibus. Praesent hendrerit semper tempor.
      </div>
    </div> <!-- end .footer-widget -->
    <div id="recent-comments-5" class="footer-widget widget_recent_comments">
      <h4 class="widgettitle">Recent Comments</h4>
      <ul id="recentcomments">
        <li class="recentcomments">
          <span class="comment-author-link">
            <a href='http://www.elegantthemes.com/blog/theme-additions/new-theme-deepfocus' rel='external nofollow' class='url'>
              New Theme: DeepFocus- Elegant Themes Blog
            </a>
          </span>
          on
          <a href="http://www.elegantthemes.com/preview/Envisioned/2010/09/15/purple-haze/#comment-580">
            Purple Haze
          </a>
        </li>
        <li class="recentcomments">
          <span class="comment-author-link">
            <a href='http://%/loveworld5' rel='external nofollow' class='url'>
              Frankie
            </a>
          </span>
          on
          <a href="http://www.elegantthemes.com/preview/Envisioned/2008/01/18/at-vero-eos-et-accusamus-et-iusto/#comment-23">
            At vero eos et accusamus et iusto
          </a>
        </li>
        <li class="recentcomments">
          <span class="comment-author-link">
            <a href='http://%/loveworld4' rel='external nofollow' class='url'>
              Soviet
            </a>
          </span>
          on
          <a href="http://www.elegantthemes.com/preview/Envisioned/2008/07/17/urna-eget-erat-non-purus/#comment-498">
            Urna eget erat non purus
          </a>
        </li>
        <li class="recentcomments">
          <span class="comment-author-link">
            <a href='http://%/loveworld3' rel='external nofollow' class='url'>
              Light
            </a>
          </span>
          on
          <a href="http://www.elegantthemes.com/preview/Envisioned/2008/09/04/hello-world-2/#comment-246">
            Neque porro quisquam est qui
          </a>
        </li>
        <li class="recentcomments">
          <span class="comment-author-link">
            <a href='http://%/loveworld2' rel='external nofollow' class='url'>
              Сергей
            </a>
          </span>
          on
          <a href="http://www.elegantthemes.com/preview/Envisioned/2006/09/28/aenean-bibendum-elementum-pede/#comment-8">
            Aenean bibendum elementum pede
          </a>
        </li>
      </ul>
    </div> <!-- end .footer-widget -->
    <div id="text-3" class="footer-widget widget_text">
      <h4 class="widgettitle">Custom Text Widget</h4>
      <div class="textwidget">
        Nam commodo dignissim felis vitae ullamcorper. Sed volutpat velit id purus bibendum placerat.
        Sed porta, nulla ac interdum ullamcorper, mi orci porta eros, nec commodo ligula dolor et arcu.
        Quisque ullamcorper enim vel tellus rhoncus et fermentum diam congue. Phasellus eu turpis lorem,
        id gravida nunc. In bibendum nulla vel quam pretium a fringilla erat ornare.
      </div>
    </div> <!-- end .footer-widget -->
  </div> <!-- end #footer-widgets -->
</div> <!-- end .container -->

<div id="footer">
  <div id="footer-top">
    <div id="footer-content">
      <div id="footer-bottom" class="clearfix">
        <div class="container">
          <ul id="menu-new-menu" class="bottom-nav">
            <li class="<%- (req.path == '/') ? 'current_page_item' : '' %>">
              <a href="/">
                Index
              </a>
            </li>
            <li class="<%- (req.path == '/home') ? 'current_page_item' : '' %>">
              <a href="/home">
                Home
              </a>
            </li>
            <li class="<%- (req.path == '/profile') ? 'current_page_item' : '' %>">
              <a href="/profile">
                Profile
              </a>
            </li>
            <li class="<%- (req.path == '/contact-us') ? 'current_page_item' : '' %>">
              <a href="/contact-us">
                Contact us
              </a>
            </li>
          </ul>
          <p id="copyright">Designed by  <a href="#" title="DAIMA">DAIMA</a> | Powered by @DAIMA</p>
        </div> <!-- end .container -->
      </div> <!-- end #footer-bottom -->
    </div> <!-- end #footer-content -->
  </div> <!-- end #footer-top -->
</div> <!-- end #footer -->
