<div id="sidebar">
  <h4 class="widgettitle">
    Recent Posts
  </h4>
  <div class="widget">
    <div class="widget-bottom">
      <div class="widget-content">
        <div class="widget-text">
          <ul>
            <li>
              <a href="http://www.elegantthemes.com/preview/Envisioned/2010/09/15/make-a-wish/">Make A Wish</a>
            </li>
            <li>
              <a href="http://www.elegantthemes.com/preview/Envisioned/2010/09/15/the-morning-dew/">The Morning Dew</a>
            </li>
            <li>
              <a href="http://www.elegantthemes.com/preview/Envisioned/2010/09/15/purple-haze/">Purple Haze</a>
            </li>
            <li>
              <a href="http://www.elegantthemes.com/preview/Envisioned/2010/09/15/bridge-to-nowhere/">Bridge To Nowhere</a>
            </li>
            <li>
              <a href="http://www.elegantthemes.com/preview/Envisioned/2010/09/15/the-lonely-ladybug/">The Lonely Ladybug</a>
            </li>
          </ul>
        </div> <!-- end .widget-text -->
      </div> <!-- end .widget-content-->
    </div> <!-- end .widget-bottom-->
  </div> <!-- end .widget-->
  <h4 class="widgettitle">
    Recent Comments
  </h4>
  <div class="widget">
    <div class="widget-bottom">
      <div class="widget-content">
        <div class="widget-text">
          <ul id="recentcomments">
            <li class="recentcomments">
              <span class="comment-author-link">
                <a href="http://www.elegantthemes.com/blog/theme-additions/new-theme-deepfocus" rel="external nofollow" class="url">
                  New Theme: DeepFocus- Elegant Themes Blog
                </a>
              </span>
              on
              <a href="http://www.elegantthemes.com/preview/Envisioned/2010/09/15/purple-haze/#comment-580">
                Purple Haze
              </a>
            </li>
            <li class="recentcomments">
              <span class="comment-author-link">
                <a href="http://%/loveworld5" rel="external nofollow" class="url">
                  Frankie
                </a>
              </span>
              on
              <a href="http://www.elegantthemes.com/preview/Envisioned/2008/01/18/at-vero-eos-et-accusamus-et-iusto/#comment-23">
                At vero eos et accusamus et iusto
              </a>
            </li>
            <li class="recentcomments">
              <span class="comment-author-link">
                <a href="http://%/loveworld4" rel="external nofollow" class="url">
                  Soviet
                </a>
              </span>
              on
              <a href="http://www.elegantthemes.com/preview/Envisioned/2008/07/17/urna-eget-erat-non-purus/#comment-498">
                Urna eget erat non purus
              </a>
            </li>
            <li class="recentcomments">
              <span class="comment-author-link">
                <a href="http://%/loveworld3" rel="external nofollow" class="url">
                  Light
                </a>
              </span>
              on
              <a href="http://www.elegantthemes.com/preview/Envisioned/2008/09/04/hello-world-2/#comment-246">
                Neque porro quisquam est qui
              </a>
            </li>
            <li class="recentcomments">
              <span class="comment-author-link">
                <a href="http://%/loveworld2" rel="external nofollow" class="url">
                  Сергей
                </a>
              </span>
              on
              <a href="http://www.elegantthemes.com/preview/Envisioned/2006/09/28/aenean-bibendum-elementum-pede/#comment-8">
                Aenean bibendum elementum pede
              </a>
            </li>
          </ul>
        </div> <!-- end .widget-text -->
      </div> <!-- end .widget-content-->
    </div> <!-- end .widget-bottom-->
  </div> <!-- end .widget-->
</div> <!-- end #sidebar -->
