<%- partial('./partials/navbar.ejs') %>
<div id="content">
  <div id="content-shadow">
    HOME
  </div> <!-- end #content-shadow -->
</div> <!-- end #content -->
<%- partial('./partials/footer.ejs') %>
