<%- partial('./partials/navbar.ejs') %>
<div id="content">
  <div id="content-shadow">
    <div class="container">
      <div class="entry post clearfix">


    <div id="et-contact">

      <div id="et-contact-message"> </div>

                  <form action="/create-post" method="post">
          <div id="et_contact_left">
            <p class="clearfix">
              <label for="et_contact_name" class="et_contact_form_label">Title</label>
              <input type="text" name="title" placeholder="Title" id="et_contact_name" class="input">
            </p>
            <p class="clearfix">
              <label for="et_contact_name" class="et_contact_form_label">Image url</label>
              <input type="text" name="image" placeholder="Image" id="et_contact_name" class="input">
            </p>
            <p class="clearfix">
              <label for="et_contact_name" class="et_contact_form_label">Slug</label>
              <input type="text" name="uri" placeholder="uri" id="et_contact_name" class="input">
            </p>
            <p class="clearfix">
              <label for="et_contact_name" class="et_contact_form_label">Category</label>
              <input type="text" name="category" placeholder="category" id="et_contact_name" class="input">
            </p>
          </div> <!-- #et_contact_left -->



          <div class="clear"></div>

          <p class="clearfix">
            <label for="et_contact_message" class="et_contact_form_label">Content</label>
            <textarea class="input" id="et_contact_message" name="content"></textarea>
          </p>
          <input class="et_contact_submit" type="submit" value="Submit" id="et_contact_submit">
        </form>
              </div> <!-- end #et-contact -->

    <div class="clear"></div>

          </div> <!-- end .entry -->
    </div>
  </div> <!-- end #content-shadow -->
</div> <!-- end #content -->
<%- partial('./partials/footer.ejs') %>
